workflows/5-linkedin-rapor.json
{
  "name": "5 - LinkedIn Performans Raporu",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "triggerAtDay": [1], "triggerAtHour": 9 }] }
      },
      "id": "schedule",
      "name": "Her Pazartesi 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.linkedin.com/rest/adAnalytics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.LINKEDIN_ACCESS_TOKEN }}" },
            { "name": "LinkedIn-Version", "value": "202405" },
            { "name": "X-Restli-Protocol-Version", "value": "2.0.0" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "analytics" },
            { "name": "pivot", "value": "CAMPAIGN" },
            { "name": "timeGranularity", "value": "DAILY" },
            { "name": "dateRange.start.day", "value": "={{ $now.minus({ days: 7 }).day }}" },
            { "name": "dateRange.start.month", "value": "={{ $now.minus({ days: 7 }).month }}" },
            { "name": "dateRange.start.year", "value": "={{ $now.minus({ days: 7 }).year }}" },
            { "name": "accounts", "value": "=urn:li:sponsoredAccount:{{ $env.LINKEDIN_AD_ACCOUNT_ID }}" },
            { "name": "fields", "value": "impressions,clicks,costInLocalCurrency,externalWebsiteConversions" }
          ]
        },
        "options": {}
      },
      "id": "linkedin-fetch",
      "name": "LinkedIn — Son 7 Gün Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 320],
      "notes": "LinkedIn Marketing API adAnalytics. Bearer token + LinkedIn-Version + ad account ID gerekir (bkz. .env). Kurulum: docs/MCP-KURULUM.md / PLATFORM-API.md."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"claude-sonnet-4-6\",\n  max_tokens: 2000,\n  system: \"Sen bir LinkedIn Ads (B2B) analistisin. Performans verisini analiz et: maliyet/lead, CTR/CPC, dönüşüm eğilimi ve B2B'ye özgü öneriler (hedefleme daraltma/genişletme, lead form, creative). Veride olmayan metrik uydurma. Maddeli, Türkçe yaz.\",\n  messages: [{ role: \"user\", content: \"Son 7 gün LinkedIn verisi:\\n\" + JSON.stringify($json) }]\n}) }}",
        "options": {}
      },
      "id": "claude-analyze",
      "name": "Claude — LinkedIn Analiz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 320],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE", "name": "Anthropic API (x-api-key)" } }
    }
  ],
  "connections": {
    "Her Pazartesi 09:00": { "main": [[{ "node": "LinkedIn — Son 7 Gün Analytics", "type": "main", "index": 0 }]] },
    "LinkedIn — Son 7 Gün Analytics": { "main": [[{ "node": "Claude — LinkedIn Analiz", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {},
  "pinData": {}
}
